<header>
  <nav>
    <ul class="nav">
      <li class="nav__item item_1">
        <a routerLink="/"
          ><img src="assets/images/logo.png" alt="logo" class="logo"
        /></a>
      </li>
      <li class="nav__item item_2"></li>
      <li class="nav__item item_3">
        <a href="#favorites" class="link-hover">Favorite coffee</a>
      </li>
      <li class="nav__item item_4">
        <a href="#about" class="link-hover">About</a>
      </li>
      <li class="nav__item item_5">
        <a href="#mobile" class="link-hover">Mobile app</a>
      </li>
      <li class="nav__item item_6">
        <a href="#contact" class="link-hover">Contact us</a>
      </li>
      <li class="nav__item item_7">
        <span class="burger-wrapper" onclick="changeBurger(this)">
          <span class="burger-top"></span>
          <span class="burger-bottom"></span>
        </span>
      </li>
      <li class="nav__item item_8">
        <div class="menu-wrap">
          <a routerLink="/menu">Menu </a>
          <img
            src="assets/images/coffee-cup.png"
            alt="coffee-cup"
            class="coffee-img-mini"
          />
        </div>
      </li>
    </ul>
  </nav>
</header>
