* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    background-color: #e1d4c9;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  header {
    margin: 17px 0;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  /* header start */
  
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__item {
    flex-grow: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
  }
  
  .item_1 a,
  .item_2 a,
  .item_3 a,
  .item_4 a,
  .item_5 a,
  .item_6 a,
  .item_7 a {
    position: relative;
    color: #403f3d;
    padding: 0 8px 0 0;
    bottom: 3px;
    left: -7px;
  }

  .item_8 a {
    color: #403f3d;
  }

  .logo {
    position: relative;
    top: 2px;
    left: 4px;
  }

  .coffee-img-mini {
    position: relative;
    top: 2px;
    right: -2px;
  }
  
  .item_2,
  .item_7 {
    flex-grow: 10;
  }
  
  .item_1 {
    position: relative;
    margin-left: 43px;
    top: 5px;
  }

  /* header finish */

  /* footer start */

footer {
  max-width: 94.5%;
  height: 450px;
  background: #665f55;
  border-radius: 40px;
  margin: 0 auto 40px auto;
}
.footer-wrapper {
  display: flex;
  padding: 100px;
}

.footer-wrapper__left {
  width: 53%;
}

.footer-wrapper__right a {
  display: inline-block;
}

.footer-wrapper__left-title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #e1d4c9;
  margin: 0 0 40px 0;
}

.footer-wrapper__left-title i {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #b0907a;
}

.social-media__wrap {
  position: relative;
  width: 60px;
  height: 60px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
}

.social-media {
  display: flex;
  gap: 13px;
}

.social-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-wrapper__right-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #e1d4c9;
  margin: 34px 0 35px 16px;
}

.footer-wrapper__right-contact {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #e1d4c9;
  margin-left: 24px;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-wrapper__map,
.footer-wrapper__phone {
  position: relative;
  top: 4px;
  right: 7px;
}

.footer-wrapper__clock {
  position: relative;
  top: 2px;
  right: 7px;
}