* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #e1d4c9;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  margin: 17px 0;
}

/* header start */

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  flex-grow: 1;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}

.item_1 a,
.item_2 a,
.item_3 a,
.item_4 a,
.item_5 a,
.item_6 a,
.item_7 a {
  position: relative;
  color: #403f3d;
  padding: 0 0 6px 0;
  bottom: 2px;
  left: -4px;
}

.item_8 a {
  color: #403f3d;
}

.link-hover {
  position: relative;
  text-decoration: none;
  overflow: hidden;
}

.link-hover::before,
.link-hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #403f3d;
  transition: width 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out;
}

.link-hover::before {
  left: 51%;
}

.link-hover::after {
  right: 51%;
}

.link-hover:hover::before {
  left: 0;
  width: 50%;
}

.link-hover:hover::after {
  right: 0%;
  width: 50%;
}

.logo {
  position: relative;
  top: 0px;
  left: 1px;
}

.coffee-img-mini {
  position: relative;
  top: 2px;
  right: -4px;
}

.item_2,
.item_7 {
  flex-grow: 8;
}

.item_1 {
  position: relative;
  margin-left: 43px;
  top: 5px;
}

/* header finish */

/* footer start */

footer {
  max-width: 94.5%;
  height: 450px;
  background: #665f55;
  border-radius: 40px;
  margin: 0 auto 40px auto;
}
.footer-wrapper {
  display: flex;
  padding: 100px;
}

.footer-wrapper__left {
  width: 53%;
}

.footer-wrapper__right a {
  display: inline-block;
}

.footer-wrapper__left-title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #e1d4c9;
  margin: 0 0 40px 0;
}

.footer-wrapper__left-title i {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #b0907a;
}

.footer-wrapper__right-content {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.footer-wrapper__right-content::before,
.footer-wrapper__right-content::after {
  content: '';
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #e1d4c9;
  transition: width 0.3s ease-out, left 0.3s ease-out, right 0.3s ease-out;
}

.footer-wrapper__right-content::before {
  left: 50%;
}

.footer-wrapper__right-content::after {
  right: 50%;
}

.footer-wrapper__right-content:hover::before {
  left: 0;
  width: 50%;
}

.footer-wrapper__right-content:hover::after {
  right: 0%;
  width: 50%;
}

.social-media__wrap {
  position: relative;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 1px solid #c1b6ad;
  border-radius: 100px;
  transition: background 0.5s ease;
}

.social-media__wrap:hover {
  background: #e1d4c9;
}

.social-image path {
  transition: stroke 0.5s ease;
}

.social-media__wrap:hover .social-image path {
  stroke: #403f3d;
}

.social-media {
  display: flex;
  gap: 13px;
}

.social-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-wrapper__right-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #e1d4c9;
  margin: 34px 0 35px 16px;
}

.footer-wrapper__right-contact {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #e1d4c9;
  margin-left: 23px;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-wrapper__map,
.footer-wrapper__phone {
  position: relative;
  top: 4px;
  right: 7px;
}

.footer-wrapper__clock {
  position: relative;
  top: 2px;
  right: 7px;
}

.footer__text-one,
.footer__text-two,
.footer__text-three {
  position: relative;
}

.footer__text-one {
  top: 3px;
  right: 4px;
}

.footer__text-two {
  top: 1px;
  right: 2px;
}

.footer__text-three {
  top: 1px;
  right: 3px;
}

.space {
  display: none;
}

@media (max-width: 1280px) {
  footer {
    height: auto;
    max-width: 89.5%;
  }

  .footer-wrapper {
    display: flex;
    padding: 104px 0 83px 60px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 66px;
  }
  .footer-wrapper__left {
    width: 100%;
  }
  .footer-wrapper__right {
    position: relative;
    right: 15px;
  }
}

@media (max-width: 769px) {
  .social-media__wrap:hover {
    background: #665f55;
    cursor: default;
  }
  .social-media__wrap:hover .social-image path {
    stroke: #e1d4c9;
  }
  .footer-wrapper__right-content::before,
  .footer-wrapper__right-content::after {
    background-color: #665f55;
  }
}

@media (max-width: 768px) {
  .item_2,
  .item_3,
  .item_4,
  .item_5,
  .item_6,
  .item_8 {
    display: none;
  }

  .item_7 {
    position: relative;
    cursor: pointer;
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665f55);
    flex-grow: 1 !important;
    position: absolute;
    right: 40px;
  }

  .burger-wrapper {
    display: block;
    height: 40px;
    top: 0;
  }

  .burger-top,
  .burger-bottom {
    display: block;
    position: relative;
    width: 18px;
    height: 2px;
    background-color: #403f3d;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 10000000;
    left: 12px;
    bottom: -10px;
  }

  .change .burger-top {
    transform: translate(0, 4px) rotate(-45deg);
  }

  .change .burger-bottom {
    transform: translate(0, -4px) rotate(45deg);
  }
}

@media (max-width: 740px) {
  footer {
    max-width: 90.5%;
  }

  .logo {
    left: -23px;
  }

  .item_7 {
    right: 16px;
  }

  .footer-wrapper__left-title,
  .footer-wrapper__left-title i {
    font-size: 32px;
    line-height: 125%;
  }

  .footer-wrapper {
    padding: 62px 0 0 12px;
    gap: 53px;
  }

  .footer-wrapper__right {
    top: -45px;
  }

  .footer-wrapper__left-title br {
    display: none;
  }

  .space {
    display: inline-block;
  }
}
