
/* enjoy start */

.enjoy {
  max-width: 94.5%;
  position: relative;
  margin: 0 auto 94px auto;
}

.presentation {
  margin: 0 auto;
  width: 100%;
}

.text-block {
  position: absolute;
  max-width: 50%;
  top: 100px;
  left: 80px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 105%;
  color: #e1d4c9;
  margin-bottom: 40px;
}

.text-block__title i {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 72px;
  line-height: 105%;
  color: #b0907a;
}

.text-block__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #e1d4c9;
  max-width: 85%;
  margin-bottom: 40px;
}

.btn {
  padding: 20px 78px;
  background: #e1d4c9;
  border-radius: 100px;
  color: #403f3d;
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* enjoy end */

/* favorites start */

.favorites {
  text-align: center;
  position: relative;
}

.favorites h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403f3d;
  margin: 0 0 40px 0;
}

.favorites h2 i {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #b0907a;
}

.favorites h4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #403f3d;
  margin: 0 0 15px 0;
}

.arrow-left {
  position: absolute;
  left: 43px;
  top: 407px;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  right: 43px;
  top: 407px;
  cursor: pointer;
}

.favorites__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #403f3d;
  max-width: 33%;
  margin: 0 auto;
}

.favorites__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: #403f3d;
  margin: 18px 0 38px 0;
}
.borders {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.border {
  width: 40px;
  height: 4px;
  background: #c1b6ad;
  border-radius: 10px;
  margin: 0 0 90px 0;
}

.borders__one {
  background: #665f55;
}

.coffee-slider {
  margin: 0 0 20px 0;
}

/* favorites end */

/* about start */

.about {
  text-align: center;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.about__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #403f3d;
  margin: 11px 0 23px 0;
}

.tt {
  position: relative;
  right: 20px;
}

.about__text i {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #b0907a;
}

.about__images {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 20px 20px 85px 20px;
}

.about__column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.about__column img {
  max-width: 100%;
  height: auto;
  margin: 18px;
}

.large-vertical {
  max-height: 100%;
}

.small-horizontal {
  max-width: 100%;
}

/* about end */

/* mobile start */

.mobile {
  display: flex;
  flex-direction: row;
  max-width: 95%;
  margin: 0 auto 98px auto;
}

.mobile__info {
  max-width: 45%;
}

.mobile-phone {
  max-width: 55%;
  height: auto;
  padding-left: 120px;
}

.mobile__title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #403f3d;
  margin: 143px 0px 40px 0;
}

.mobile__title i {
  font-style: italic;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #b0907a;
}

.mobile__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403f3d;
  margin-bottom: 40px;
  margin-left: 5px;
}

.button-link {
  width: 200px;
  height: 64px;
  display: flex;
  text-decoration: none;
  border: 1px solid #665f55;
  border-radius: 100px;
  padding: 12px 20px;
}

.button-text {
  display: block;
}

.button-image {
  display: block;
}

.first-sentence {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  text-align: center;
  color: #403f3d;
  position: relative;
  bottom: 5px;
  left: 9px;
}

.second-sentence {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #403f3d;
  position: relative;
  bottom: 4px;
  left: 8px;
}

.marketplaces {
  display: flex;
  gap: 20px;
  margin-left: 5px;
}

/* mobile end */




