<div class="enjoy">
  <div class="video-container">
    <video controls loop autoplay muted id="myVideo">
      <source src="assets/videos/video.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="text-block">
    <h1 class="text-block__title">
      <i>Enjoy</i> premium coffee at our charming cafe
    </h1>
    <p class="text-block__text">
      With its inviting atmosphere and delicious coffee options, the Coffee
      House Resource is a popular destination for coffee lovers and those
      seeking a warm and inviting space to enjoy their favorite beverage.
    </p>
    <a routerLink="/menu" class="btn">
      <span class="menu-text">Menu</span>
      <img
        src="assets/images/coffee-cup.png"
        alt="coffee-cup"
        class="coffee-img-hover"
      />
    </a>
  </div>
</div>
