<div id="about" class="about">
  <p class="about__text">
    <span class="text-default"
      >Resource is <i>the perfect and cozy place</i> where</span
    >
    you can enjoy a variety of hot beverages, relax,
    <span class="text-default"
      >catch up with friends, or get some work done.</span
    >
  </p>
  <div class="flex-container">
    <div class="column">
      <div class="item item1">
        <img
          src="../assets/images/girl_and_coffee.png"
          alt="girl-and-coffee"
          class="large-vertical"
        />
      </div>
      <div class="item item2">
        <img
          src="../assets/images/simple_coffee.png"
          alt="simple-coffee"
          class="small-horizontal"
        />
      </div>
    </div>
    <div class="column">
      <div class="item item3">
        <img
          src="../assets/images/man_and_coffee.png"
          alt="man-and-coffee"
          class="small-horizontal"
        />
      </div>
      <div class="item item4">
        <img
          src="../assets/images/lovers_and_coffee.png"
          alt="lovers-and-coffee"
          class="large-vertical"
        />
      </div>
    </div>
  </div>
</div>
