<div id="favorites" class="favorites">
  <h2>Choose your <i>favorite</i> coffee</h2>
  <div class="slider">
    <div *ngFor="let product of favorites; index as i">
      <img [src]="product.image" alt="{{ product.name }}" class="coffee-slider"/>
      <h4>{{ product.name }}</h4>
      <p class="favorites__text">{{ product.description }}</p>
      <p class="favorites__price">${{ product.price }}</p>
    </div>
  </div>
  <div class="borders">
    <div class="border borders__one"><span class="borders__one-in"></span></div>
    <div class="border borders__one"><span class="borders__one-in"></span></div>
    <div class="border borders__one"><span class="borders__one-in"></span></div>
  </div>
  <div class="arrows">
    <button class="arrow arrow-left">
      <svg
        class="my-svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M13.5 7H1M1 7L7 1M1 7L7 13"
          stroke="#403F3D"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <button class="arrow arrow-right">
      <svg
        class="my-svg"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 7H13.5M13.5 7L7.5 1M13.5 7L7.5 13"
          stroke="#403F3D"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>

